.list{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movies-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card{
    width:20vw;
    margin:1rem;
    color:white;
    position: relative;
    border-radius: 1rem;
    
}
.movie-title{
    position: absolute;
    top:-1rem;
    left:0.8rem;
    font-size: 1.25rem;
}
  
.movie-button{
    position: absolute;
    top:80%;
    background: #dc3545;
    color: white;
    border: navajowhite;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.19rem;
}
.button-wrapper{
    display: flex;
    justify-content: center;
  }
  .banner-img{
    border-radius: 0.5rem;
    height:70vh;
    width:100%;
  }
  
.page-link{
    color: blue;
    background: white;
    border-color: grey;
    border-width: 0.1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.prev-button{
    border-radius: 9px 0 0 9px;
}

.curr-button{
    border-radius: 0;
}

.next-button{
    border-radius: 0 9px 9px 0;
}

@media only screen and (max-width: 600px) {
    .movie-card{
        width: 46%;
        margin: 0.3rem;
    }
    .list{
        padding-left: 0;
        padding-right: 0;
    }
}