.searchbox{
    padding: 0.5rem;
    width: 85%;
    border-radius: 10px 0 0 10px;
    border-width: 1px;
}
.search-div{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn>img{
    width: 25px;
}
.search-btn{
    border-radius: 0 10px 10px 0;
    border-color: grey;
    border-width: 1px;
}
